/* Universal Styles */
body {
  font-size: 18px;
  font-family: Helvetica;
  line-height: 1.4em;
}

@media only screen and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Header Styles */
.company {
  background-color: black;
  color: white;
}

.company .container{
  display: flex;
  align-items: center;
  padding: 0.66rem 0 0.66rem 0.5rem;
}

.company img {
  height: 1.5rem;
  padding-right: 1rem;
}

/* Featured Styles */

.featured {
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 25rem;
}

.callout {
  position: relative;
  top: 9rem;
  background-color: black;
  color: white;
  width: 20rem;
  font-weight: bold;
  padding: 2rem 3rem;
}

.callout h1 {
  font-size: 2rem;
  padding-top: 0.25rem;
  line-height: 1.2em;
}

/* Nav Styles */

nav {
    background-color: firebrick;
    color: white;
}

nav ul{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0.75rem 0;
}

nav .mobile {
  display:none;
}

/* Gallery Styles */

.gallery {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 3rem;
}

.item {
  width: 30%;
}

.item-image {
  height: 9rem;
  padding: 2rem 0;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-image img {
  max-width: 9rem;
}

.item span {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  padding: 0.5rem 0;
  display: block;
}

/* Biz Info Styles */

.business-info{
  padding-top: 3rem;
  display: flex;
  justify-content: space-between;
}

.info-block {
  width: 35%;
}

.info-block .title {
  display: block;
  background-color: black;
  color: white;
  padding: 1rem 0 1rem 2rem;
}

/* Footer Styles */
footer {
  background-color: black;
  color: white;
  text-align: left;
  padding: 5rem 0;
  margin-top:4rem;

}

/* Tablet Media Query */

@media only screen and (max-width:1024px)  {
  nav .desktop {
    display:none;
  }
  nav .mobile {
    display: block;
    text-align: center;
  }

  .item {
    width: 47%;
  }

  .item.glasses{
    display: none;
  }
}

/* Phone Media Query */

@media only screen and (max-width:470px){
  .featured {
    height: 15rem;
  }

  .callout{
    width: 100%;
    top: 10rem;
    padding: 1rem 2rem;
  }

  .callout h4{
    font-size: 0.77rem;
  }

  .callout h1 {
    font-size: 1rem;
  }

  .info-block, .item{
    width:90%;
    margin: 0.5em 0;
  }

  .gallery{
    justify-content: space-around;
  }

  .business-info{
    flex-wrap:wrap;
    justify-content: center;
  }

  .item.watch {
    display: none;
  }

  footer {
    text-align: center;
  }
}
